@import 'main.sass'
@import 'animations.sass'
@import 'header.sass'
@import 'footer.sass'
@import 'contact.sass'

// Home
// Hero Section
#hero-section
    background-image: url("/images/hero-bg.png")
    height: 100vh
    display: block
    background-size: cover
    color: #fff

    #hero-section-textuals
        padding-top: 230px

        #welcome-sup-msg
            color: #BBBBBB
            margin-bottom: 10px

        #my-name-hero-title, #my-pro-hero-title
            font-size: 2.8rem
            font-weight: 600
            position: relative
            text-shadow: 0 0 10px #141414

            #hero-title-placeholder
                visibility: hidden

            #hero-title-old
                position: absolute
                animation-name: titleup
                animation-duration: 1s

            #hero-title-new
                position: absolute
                opacity: 0
                bottom: -100%
                // animation-name: titlenew
                // animation-delay: 1s
                // animation-duration: 1s

            #hero-title-static
                position: absolute
                top: 0

                &.animate
                    animation-name: titleup
                    animation-duration: 1s
        
        #my-name-hero-title
            display: inline-block

            span:not(#name-hidden)
                position: absolute
                z-index: 999

            #name-hidden
                visibility: hidden
        
        #my-pro-hero-title
            color: $base-color
            margin-top: -10px

        #hero-paragraph
            max-width: 500px
            font-size: 0.9rem
            margin-top: 20px

        #hero-buttons
            margin-top: 40px

            .hero-btn
                padding: 8px 13px
                border-radius: 2px
                color: #fff
                font-weight: bold
                background-color: transparent
                transition: 0.3s ease-in-out
                font-size: 0.75rem
                display: inline-flex
                align-items: center
                margin-right: 5px

                svg
                    margin-left: 5px

                &.active
                    border: 2px solid $base-color

                    &:hover
                        background: $base-color
                        color: #000



    .mouse-scroll
        position: absolute
        text-align: center
        left: 0
        right: 0
        bottom: 20px
        width: 225px
        height: 100px
        padding-top: 15px
        margin-left: auto
        margin-right: auto
        user-select: none
        transform: scale(0.75)
        cursor: pointer

        span
            pointer-events: none
            font-weight: 400 !important
            text-transform: none !important
            letter-spacing: normal !important
            top: 6px
            position: relative
            color: #fff
            opacity: 0.5
            font-size: 0.9rem
            user-select: none

        .mouse
            width: 24px
            height: 45px
            display: flex
            align-items: center
            justify-content: center
            border: 2px solid #fff
            border-radius: 100px
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2)
            margin: auto auto 8px
            animation: mouse 1.35s cubic-bezier(0.645, 0.045, 0.355, 1) infinite

            &:active, &:focus
                animation-play-state: paused

                span
                    animation-play-state: paused

            span
                width: 6px
                height: 6px
                position: relative
                transform: translateY(-10px)
                background: #29ecba
                border-radius: 100%
                animation: mouseScroll 1.35s cubic-bezier(0.645, 0.045, 0.355, 1) infinite

// Testimonials section
#testimonials-section
    background-color: #fcfbfe

    #testimonials-wrap
        padding: 10px 0

        .slick-prev
            bottom: 0
            top: auto
            right: 80px
            left: auto

        .slick-next
            bottom: 0
            top: auto
            right: 50px
            left: auto

        .slick-prev:before, .slick-next:before
            color: red

        .slick-list
            padding: 20px 0

            .slick-track > div:nth-child(2n + 1)
                    margin-top: 60px

        .testimonial-item
            background-color: #fff
            padding: 40px
            margin: 30px
            border-radius: 20px
            box-shadow: 0 0 40px #c3c3c33b
            color: #94a3bf

            .text
                font-size: 0.9em
                line-height: 2rem

            .details
                display: flex
                align-items: center
                margin-top: 25px

                .pp
                    img
                        height: 50px
                        width: 50px
                        border-radius: 50%
                .textual
                    margin-left: 15px

                    .name
                        font-weight: bold
                        color: #666
                    
// Projects section
#projects-section
    background-color: #0b0b0b
    padding: 80px 0
    padding-bottom: 120px
    color: #fff

    #project-list-container
        max-width: 1100px
        margin: auto

        .cute-title
            margin-bottom: 30px

    #projects-list
        .projects-list-item
            display: flex
            align-items: center
            position: relative

            &:not(:last-child)
                margin-bottom: 50px

            &.reverse
                flex-direction: row-reverse
                text-align: right

                .project-description
                    right: 0

            .project-item-right
                flex-grow: 1
                    
                .project-megatitle
                    color: $base-color
                    font-weight: normal
                    text-transform: uppercase

                .project-title
                    color: #ccd6f6
                    margin-bottom: 10px
                    margin-top: 3px

                .project-description
                    width: 500px
                    position: absolute
                    box-shadow: 0 10px 30px -15px #1e1e1e
                    z-index: 2
                    padding: 25px
                    border-radius: 4px
                    background-color: $dark-blue
                    font-size: 0.7rem
                    font-weight: normal

                .project-tags
                    margin-top: 130px

                    .project-tag
                        margin-left: 10px
                        font-size: 0.65rem
                        color: #d2d2d2
                        opacity: 0.8

            .project-item-left
                overflow: hidden
                border-radius: 6px
                img, video
                    filter: grayscale(0)
                    transition: 0.3s ease
                    width: 100%
                    cursor: pointer
                    max-width: 35vw

            .project-links
                margin-top: 20px
                
                .project-link
                    margin-left: 5px
                    font-size: 1.3rem
                    transition: 0.3s ease-in-out

                    &:hover
                        color: #fff

            &:hover .project-item-left img
                // filter: grayscale(100%) !important
                transform: scale(1.1)

// Small contact box
#small-contact-box-wrap
    position: relative

    #small-contact-box
        position: absolute
        top: -70px
        left: 50%
        transform: translateX(-50%)
        height: 140px
        width: 100%
        max-width: 1100px
        background-color: $dark-blue
        box-shadow: 0 0 40px #000000bf
        border-radius: 30px
        display: flex
        align-items: center
        padding: 0 60px
        box-sizing: border-box
        justify-content: space-between
        transition: 0.3s ease-in-out

        &:hover
            background-color: $darker-blue

            &:hover #small-contact-box-text
                color: #fff

            &:hover #small-contact-box-right .download-cv-btn
                background-color: transparent
                font-weight: bold

        #small-contact-box-text
            color: #fff
            text-transform: uppercase
            font-weight: bold
            transition: 0.3s ease-in-out

        #small-contact-box-right
            a
                font-size: 0.8rem
                &.cute-btn2
                    border-radius: 4px
                    font-weight: bold
                    transition: 0.3s ease-in-out
                    background-color: transparent
                    border: 1px solid $base-color

                    &:hover
                        background-color: $base-color !important
                        color: #000 !important
                        box-shadow: 0 0 40px #29ecba4f

            .download-cv-btn
                margin-right: 15px
                color: #fff

                &:hover
                    text-decoration: underline
                    background-color: transparent !important


// About me section
#about-me-section
    padding: 80px 0
    padding-top: 120px
    background-color: #000
